## **Assignment-2 Data Types and Structures**

# **Theory Questions**

1. What are data structures, and why are they important?      
  -> Data structures are ways to store, organize, and manage data efficiently so that it can be accessed and modified easily. It is important to store big data in an organized way and helps to write clean, maintainable logical problems and to solve real world problems etc.
2. Explain the difference between mutable and immutable data types with examples           
  -> Mutable data types are those whose data or objects can be changed at any time and immutable data types are those whose data/objects cannot be changed once it's created.     
  E.g.
  Mutable- list, dict, set   
  Immutable- tuple, str
3. What are the main differences between lists and tuples in Python?    
  -> lists are mutable in nature and can be changed at any time whereas tuples are immutable in nature and cannot be changed once it is created.
4. Describe how dictionaries store data  
  -> Dictionaries stores data in key-value pairs.
  e.g. dict = {"Name": "Junaid", "Age": 26}
5. Why might you use a set instead of a list in Python?    
  -> Set provides unique values only, removes duplicate and maintained in an unordered sequence whereas list does not provide all the values, will not remove duplicates and maintained in an ordered sequence.
6. What is a string in Python, and how is it different from a list?   
  -> It is a sequence of unicode characters used to represent text. Strings stores only text as a character and it is immutable in nature whereas, list stores any type and is mutable in nature.
7.  How do tuples ensure data integrity in Python?  
   -> Tuples help ensure data integrity by being immutable. once created, their contents cannot be changed, added to, or removed. This immutability gives several advantages when our goal is to protect data from accidental modification.
8. What is a hash table, and how does it relate to dictionaries in Python?   
   ->
9. Can lists contain different data types in Python?  
   -> Yes, lists are heterogeneous and can hold different data types in python.
10. Explain why strings are immutable in Python?  
  -> Strings in Python are immutable because of memory efficiency
11. What advantages do dictionaries offer over lists for certain tasks?  
   -> Key-value pairing, fast lookup or uniiquely identifying data are the advantages dictionaries offer over lists for certain tasks
12. Describe a scenario where using a tuple would be preferable over a list?   
   -> When we need to store the passwords, Employee id, Member id etc then we are preferring tuple over a list because it is immutable.
13. How do sets handle duplicate values in Python?    
   -> In Python, sets automatically remove duplicates. They only store unique values, regardless of how many duplicates we try to add.
14. How does the “in” keyword work differently for lists and dictionaries?  
   -> "in" keywords in lists checks whether a value exists as an item in the list whereas "in" in a dictionary checks whether key exists not the values.
15. Can you modify the elements of a tuple? Explain why or why not?  
   -> No, we cannot modify the elements of a tuple because it is immutable in nature.
16. What is a nested dictionary, and give an example of its use case?  
   -> It is a dictionary inside another dictionary.    
   e.g.    
   students = {    
    "A001": {"name": "Junaid", "age": 21, "course": "Python"},    
    "A002": {"name": "Sara", "age": 22, "course": "Data Science"}
}
17. Describe the time complexity of accessing elements in a dictionary?   
   ->
18.  In what situations are lists preferred over dictionaries?   
  -> lists are preferred for scenarios where order, indexing, or simple collections is required.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?   
  -> Dictionaries in older versions of Python (before 3.7) were considered unordered because they did not preserve the insertion order of keys.
20. Explain the difference between a list and a dictionary in terms of data retrieval.   
  -> List is best for ordered data in simple sequences whereas dictionary is best for labeled data, fast key based lookup.

# **Practical Questions**

In [ ]:
#1. Write a code to create a string with your name and print it.
my_name = "Junaid"
print(my_name)

Junaid

In [ ]:
#2. Write a code to find the length of the string "Hello World"
text = "Hello World"
length = len(text)
print("length of the string:", length )

length of the string: 11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print("The first 3 characters:", sliced_text)

The first 3 characters: Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase
text = "hello"
uppercase_text = text.upper()
print("uppercase:",uppercase_text)

uppercase: HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple
text = "I like apple"
new_text = text.replace("apple", "orange")
print("updated_text:", new_text)

updated_text: I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print("list of numbers:",list)

list of numbers: [1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print("updated_list:", numbers)

updated_list: [1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("updated_list:", numbers)

updated_list: [1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("second_element:", second_element)

second_element: b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("reversed_list:", numbers)

reversed_list: [50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
numbers = (100, 200, 300)
print("Tuples:", numbers)

Tuples: (100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("Second-to-last-element:", second_to_last)

Second-to-last-element: blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
number = (10, 20, 5, 15)
minimum_value = min(numbers)
print("Minimum number in the tuple:",minimum_value)

Minimum number in the tuple: 100

In [ ]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print("Index of 'cat':", cat_index)

Index of 'cat': 1

In [ ]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("Banana", "Apple", "Orange")
is_kiwi_present = "kiwi" in fruits
print("Is 'Kiwi' in the tuple?", is_kiwi_present)

Is 'Kiwi' in the tuple? False

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
Set = {'a','b','c'}
print("Set:", Set)

Set: {'a', 'b', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print("sets after clearing:", numbers)

sets after clearing: set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1,2,3,4}
numbers.remove(4)
print("set after removing 4:", numbers)

set after removing 4: {1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of the set:", union_set)

Union of the set: {1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of set:", intersection_set)

Intersection of set: {2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
Personal_info = {"Name": "Junaid", "Age": 25, "city": "Mumbai"}
print("Personal details:", Personal_info)

Personal details: {'Name': 'Junaid', 'Age': 25, 'city': 'Mumbai'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = "USA"
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
person["name"]

'Alice'

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
if "city" in data:
  print("key 'city' exists in dictionary")
else:
  print("key 'city' does not exists in dictionary")

key 'city' exists in dictionary

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
tuple = ("apple","Banana","orange")
dictionary = {"Name": "Junaid", "Age": 25, "City": "Mumbai"}

print("list:", list)
print("tuple:", tuple)
print("dictionary:", dictionary)

list: [1, 2, 3, 4, 5]
tuple: ('apple', 'Banana', 'orange')
dictionary: {'Name': 'Junaid', 'Age': 25, 'City': 'Mumbai'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index
string_list = ["apple", "banana", "orange", "cherry"]
print("Element at index 3:", string_list[3])

Element at index 3: cherry

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}
print("combined dictionary:", combined_dict)

combined dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry", "banana"]
string_set = set(string_list)
print("Set from list:", string_set)

Set from list: {'apple', 'banana', 'cherry'}